.full-page {
  background: 
    linear-gradient(135deg, #121212 0%, #3a3a3a 100%), 
    repeating-linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 10px,
      transparent 10px,
      transparent 20px
    );
}

.about-page {
    padding: 2rem;
    min-height: 100vh;
  }
  
  .about-section {
    margin: 90px auto 0;
    padding: 1.5rem;
    background-color: #444; /* Fond légèrement plus clair pour le bloc */
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  .about-title {
    font-size: 2.5rem;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }
  
  .about-text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #e0e0e0; /* Texte légèrement plus clair */
    text-align: justify;
    margin-bottom: 1rem;
  }
  