.gallery-page {
  padding: 40px;
  background-color: #1e1e1e;
  min-height: 100vh;
}

.gallery-title {
  font-size: 36px;
  color: #f5f5f5;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.gallery-item {
  text-align: center;
}

.gallery-item img {
  width: 1500px; /* Taille fixe pour les grands écrans */
  height: 1000px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-description {
  font-size: 1.2rem;
  color: #d0d0d0;
  margin-bottom: 10px;
}

/* Media Query pour les écrans mobiles */
@media (max-width: 768px) {
  .gallery-container {
    gap: 20px;
  }

  .gallery-item img {
    width: 100%; /* Prend toute la largeur de l'écran */
    height: auto; /* Ajuste automatiquement la hauteur */
  }

  .gallery-title {
    font-size: 28px;
  }

  .gallery-description {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .gallery-title {
    font-size: 24px;
  }

  .gallery-description {
    font-size: 14px;
  }
}
