.installations-page {
  padding: 2rem;
  background: linear-gradient(135deg, #1a1a1a 0%, #3a3a3a 100%);
  color: #e0e0e0;
  min-height: 100vh;
}

/* Titres et sous-titres */
.installations-title {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.installations-description {
  text-align: center;
  font-size: 1.2rem;
  color: #d0d0d0; 
  margin-bottom: 2rem;
}

/* Sections */
.installation-section {
  margin-bottom: 2.5rem;
  padding: 1rem;
  background-color: #1a1a1a; /* Légère couleur de fond pour la section */
  border-radius: 10px;
  margin: 90px auto 0;
}

.installation-subtitle {
  font-size: 1.8rem;
  color: #ffffff; /* Texte blanc pour les sous-titres */
  margin-bottom: 1rem;
  font-weight: 600;
}

.installation-image {
  height: 300px; /* Hauteur fixe pour harmoniser les tailles */
  width: auto; /* Ajuste la largeur en fonction de la hauteur */
  object-fit: cover; /* Recadre pour remplir la taille définie */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* Liste des équipements */
.equipment-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: #ff4500;
  font-size: 1rem;
}

.text {
  color: #d0d0d0; /* Texte dans les paragraphes */
}

.installation-images-container {
  display: flex;
  gap: 20px; /* Espace entre les images */
  justify-content: center;
}

/* Adaptation pour mobile */
@media (max-width: 768px) {
  .installations-title {
    font-size: 2rem;
  }

  .installation-subtitle {
    font-size: 1.5rem;
  }

  .installation-image {
    max-width: 100%; /* S'adapte à la largeur de l'écran */
  }
}

