.navbar {
  background-color: #333;
  padding: 15px 0; /* Plus d'espace en haut et en bas */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 20px; /* Augmenter légèrement l'espace entre les éléments pour équilibrer */
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 20px; /* Taille de texte légèrement plus grande pour correspondre au padding */
  padding: 15px 20px; /* Espacement interne plus important pour correspondre à la barre */
  transition: all 0.3s ease;
}

.navLink:hover {
  color: black; /* Conserver le contraste lors du survol */
  background-color: red;
  font-size: 22px; /* Augmenter la taille au survol */
  border-radius: 5px;
}

.navLink.active {  /* Style pour le lien actif */
  background-color: red;
  font-size: 22px; /* Conserver la même taille que lors du survol pour l'actif */
  border-radius: 5px;
  color: black; /* Couleur du texte noir pour le lien actif */
}
